* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore

# Templates Blade não contam nas estatísticas de linguagem do GitHub (o repositório é uma API PHP)
*.blade.php linguist-detectable=false
